name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  dist-files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - run: pipx run build

      - name: Check Files
        run: pipx run twine check --strict dist/*
